.scrollDisabled {
    max-height: 100vh;
    overflow: hidden;
}

.modal {
    &-overlay {
        background: black;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
    }

    &-container {
        background: white;
        max-width: 500px;
        padding: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &-header {
        display: flex;
        justify-content: space-between;
    }
}
